.navegadorUL{
	list-style-type: none;
	margin:0 0 10px 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
.itemNav{
	float: right;
}
a{
	text-align: center;
	display: block;
	color:white;
	text-decoration: none;
	padding: 14px 16px;
	margin: 0;
	border-radius: 3px;
}
a:hover{
	background-color: gray;
}
.contato{
	margin: 5px;
	padding: 10px;
	border: 2px dotted white;
}
#blocoA{
	margin-left: 10px;
	margin-right: 10px;
	background-color: black;
	min-width: 20%;
	max-width: 500px;
	height: 600px;
	border: 10px double;
	border-color: white;
}
#blocoB{
	margin-left: 10px;
	margin-right: 10px;
	background-color: black;
	min-width: 20%;
	max-width: 500px;
	height: 600px;
	border: 10px double;
	border-color: white;
	color: white;
}
#blocoC{
	margin:auto;
	background-color: black;
	width: 95%;
	height: 600px;
	border: 10px double;
	border-color: white;
}
#logo{
	float: left;
}
#jp{
	text-align: center;
	display: block;
	color:white;
	text-decoration: none;
	padding: 14px 16px;
	margin: 0;
	border-radius: 3px;
}
#twitter{
	float: right;
	min-width: 150px;
	max-width: 40%;
	padding: 0;
	margin: 0 0 0 5;
}
#emailestudio{
	margin-left: 10px;
}
